*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  padding: 20px;
  text-align: center;
}

.slider-wrapper{
  position: relative;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.slider-wrapper span i.fas{
  font-size: 22px;
}

.images{
  display: inline-block;
  width: 500px;
  margin: 0 10px;
  vertical-align: middle;
  background-color: red;
}

.images img{
  display: none;
  width: 100%;
}

.images img.active{
  display: inline-block;
}

.nav {
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%);
    padding: 8px;
    border-radius: 999px;
    background: rgba(0,0,0,.7);
    color: white;
}
.nav > i {
    font-size: 12px;
    margin: 0 8px;
}
.nav > i.active {
    color: blue;
}
